<div>
  <h1 class="title">Список устройств</h1>
  <button 
    class="button" 
    (click)="logout()">
    Log Out
  </button>
  <div 
    class="error" 
    *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <table *ngIf="!errorMessage">
    <thead>
      <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Дата последней активности</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices">
        <td>{{device.id}}</td>
        <td>{{device.name}}</td>
        <td>{{ device.lastActiveDate }}</td>
      </tr>
    </tbody>
  </table>
</div>